{% include 'sitios/head.html' %}


    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="https://books.goalkicker.com/DotNETFrameworkBook/DotNETFrameworkGrow.png">
                <div class="card-body">
                    <h4 class="card-title">NET FRAMEWORK</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="http://oracle.com" role="button">DESCARGAR </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="https://goalkicker.com/CPlusPlusBook/CPlusPlusGrow.png">
                <div class="card-body">
                    <h4 class="card-title">C++</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="http://oracle.com" role="button">DESCARGAR </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="https://goalkicker.com/SQLBook/SQLGrow.png">
                <div class="card-body">
                    <h4 class="card-title">SQL</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="http://oracle.com" role="button">DESCARGAR </a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="https://goalkicker.com/iOSBook/iOSGrow.png">
                <div class="card-body">
                    <h4 class="card-title">IOS DEVELOPER</h4>
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="http://oracle.com" role="button">DESCARGAR </a>
                    </p>
                </div>
            </div>
        </div>

        
        
    </div>



{% include 'sitios/foot.html' %}